<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddScore</servlet-name>
        <servlet-class>BT.AddScore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tcount</servlet-name>
        <servlet-class>BT.Tcount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tedit</servlet-name>
        <servlet-class>BT.Tedit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tdefault</servlet-name>
        <servlet-class>BT.Tdefault</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelScore</servlet-name>
        <servlet-class>BT.DelScore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>csvExport</servlet-name>
        <servlet-class>BT.CsvExport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CsvExport</servlet-name>
        <servlet-class>BT.CsvExport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tattendance</servlet-name>
        <servlet-class>BT.Tattendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tfinish</servlet-name>
        <servlet-class>BT.Tfinish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTournament</servlet-name>
        <servlet-class>BT.AddTournament</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenTurnament</servlet-name>
        <servlet-class>BT.OpenTurnament</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayer</servlet-name>
        <servlet-class>BT.AddPlayer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddScore</servlet-name>
        <url-pattern>/AddScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tcount</servlet-name>
        <url-pattern>/Tcount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tedit</servlet-name>
        <url-pattern>/Tedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tdefault</servlet-name>
        <url-pattern>/Tdefault</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelScore</servlet-name>
        <url-pattern>/DelScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>csvExport</servlet-name>
        <url-pattern>/csvExport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CsvExport</servlet-name>
        <url-pattern>/CsvExport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tattendance</servlet-name>
        <url-pattern>/Tattendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tfinish</servlet-name>
        <url-pattern>/Tfinish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTournament</servlet-name>
        <url-pattern>/AddTournament</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenTurnament</servlet-name>
        <url-pattern>/OpenTurnament</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayer</servlet-name>
        <url-pattern>/AddPlayer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Jihoceska Bowlingova Liga - administrace</display-name>
        <web-resource-collection>
            <web-resource-name>BT</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Bowlingové turnaje Tábor - administrace</description>
            <role-name>BT-Tabor</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Bowlingové turnaje  Hluboká - administrace</realm-name>
    </login-config>
    <security-role>
        <description>Administrace turnajů Tábor</description>
        <role-name>BT-Tabor</role-name>
    </security-role>
</web-app>
